

<div ng-controller="homeController">

	<!-- Not logged in -->
	<div class="home text-center" ng-show="!loggedIn">
		<h1 class="title">PR Roulette</h1>
		<h5>Flat-level Peer Review!</h5>
		<h5>Team Ownership Of Quality!</h5>
		<h5>Free to Play!</h5>

		<button ui-sref="registration">Register</button>
		<button ui-sref="login">Login</button>

		<div class="standard-padding">
			<a ui-sref="search">Search for your team</a>
		</div>

		<div ng-include="'src/js/shared/spinningRoulette.html'"></div>

		<div ui-view></div>
	</div>

	<!-- logged in -->
	<div ng-show="loggedIn" ng-include="'src/js/components/dashboard/dashboard.html'">

</div>

