<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			<form>
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
				</div>
			</form>
		</div>
	</div>

	<div class="block-container justify-start no-padding standard-padding-vertical">
		<button class="btn btn-primary panel-button" ng-click="updateSettings()">Update Settings</button>
	</div>
</div>