<!-- App Name -->
<div class="app-logo-container small-padding-horizontal">prroulette</div>

<!-- Navigation -->
<nav class="font small" >
	<aside class="navigation-title uppercase font weight-thin small">navigation</aside>
	<ul class="no-padding">
		<li>
			<a ui-sref="dashboard" ng-class="getClass('/dashboard')">
				<i class="fa fa-home fa-2x" aria-hidden="true"></i>
				Dashboard
			</a>
		</li>
		<li>
			<a ui-sref="requests" ng-class="getClass('/requests')">
				<i class="fa fa-list-alt fa-2x" aria-hidden="true"></i>
				Requests Lists
			</a>
		</li>
	</ul>
</nav>

<!-- Bottom Nav -->
<aside class="bottom-nav block-container font no-padding small thin w-100">
	<a ng-click="goFullScreen()">
		<i class="fa fa-arrows-alt" aria-hidden="true"></i>
	</a>
	<a href="#" ng-click="logout()">
		<i class="fa fa-power-off" aria-hidden="true"></i></a>
</aside>
