<div class="block-container justify-space-around no-padding w-100">
	<div class="align-center block-container flex-expand justify-start left-nav no-padding">

		<a class="standard-padding" ng-click="toggleSidebar()">
			<i class="fa fa-bars" aria-hidden="true"></i>
		</a>

	</div>
	<div class="align-center block-container flex-expand justify-end right-nav no-padding">
		<div class="standard-padding user-profile-link">
			<i class="fa fa-user" aria-hidden="true"></i>
			{{userConfig.name}}
			<div class="user-profile-menu">
				<a class="standard-padding" ui-sref="settings">
					<i class="fa fa-cog" aria-hidden="true"></i> Settings
				</a>
				<a class="standard-padding" ng-click="logout()">
					<i class="fa fa-power-off" aria-hidden="true"></i> Log Out
				</a>
			</div>
		</div>
	</div>
</div>

<div class="notification-bar font weight-bold" ng-click="closeNotification()"></div>