<style>
	.roulette-page {
		padding: 1em;
		text-align: center;
	}

	.member-list {
		height: 0;
	}

	.roulette-inner {
		display: none;
	}

	span.member {
		font-size: 4em;
		padding: 1em;
	}

	.roulette img {
		margin: auto;
	}

	button.start {
		z-index: 10;
		width: 50%;
		margin: auto;
	}
</style>

<div ng-controller="rouletteController" class="block-container flex-direction-column justify-space-between roulette-page">

	<div>
		<h2>{{team.settings.name}}</h2>
		<p>Find out Who is Going to Review</p>
	</div>

	<div class="member-list" style="opacity:0">
		<span class="member" ng-repeat="member in team.members">
			{{member.name}}
		</span>
	</div>

	<div class="roulette" style="display:none;"></div>

	<button class="start">Spin the Wheel!</button>
</div>