<div class="align-center authentication justify-center w-100" ng-controller="loginController">

	<h3>Welcome Back</h3>

	<p ng-show="errorMessage">{{errorMessage}} &nbsp;</p>

	<form novalidate class="simple-form">
		<label class="form-control left-icon">
			<div class="icon-group">
				<i class="fa fa-envelope-o" aria-hidden="true"></i>
			</div>
			<input type="email" placeholder="Email" ng-keyup="resetError()" ng-model="user.email" />
		</label>
		<label class="form-control left-icon">
			<div class="icon-group">
				<i class="fa fa-lock" aria-hidden="true"></i>
			</div>
			<input type="password" placeholder="Password" ng-keyup="resetError()" ng-model="user.password" />
		</label>
		<button class="btn-wide" ng-click="login(user)">Login</button>

		<div class="text-center">
			Don't Have an Account? <a ui-sref="registration">Sign Up</a>
		</div>
	</form>


</div>