<div class="align-center authentication" ng-controller="registrationController">
	<h4>Registering for an account is easy</h4>

	<p ng-show="errorMessage">{{errorMessage}} &nbsp;</p>

	<form novalidate class="simple-form">
		<label class="form-control left-icon">
			<div class="icon-group">
				<i class="fa fa-envelope-o" aria-hidden="true"></i>
			</div>
			<input type="email" placeholder="Email" ng-keyup="resetError()" ng-model="user.email" />
		</label>
		<label class="form-control left-icon">
			<div class="icon-group">
				<i class="fa fa-lock" aria-hidden="true"></i>
			</div>
			<input type="password" placeholder="Choose a Password" ng-model="user.password" />
		</label>
		<button class="btn-wide w-100" ng-click="register(user)">Register</button>

		<div class="text-center">
			Already have an account? <a ui-sref="login">Log In</a>
		</div>
	</form>


</div>